{% extends 'base.html' %}
{% block title %}
Восьмая задача
{% endblock title %}

{% block content %}
<form method="get">
    <label for="numbers">Enter a list of numbers (separated by commas):</label><br>
    <input type="text" id="numbers" name="numbers" value="{{ numbers }}" required>
    <button type="submit">Find Maximum</button>
</form>

{% if maximum_number %}
<h3>The maximum number is: {{ maximum_number }}</h3>
{% else %}
<p>Please provide a valid list of numbers.</p>
{% endif %}
{% endblock content %}
